<div class="article-container">

    <h1 class="article-title">Filipina-led Startups Celebrate Woman Empowerment Month #HerStory</h1>
    <h3>Updated: February 29, 2021</h3>

    
    <p class="quote">“Seeing business owners have pride that the products they sell is no longer a local product, but a global one changes how they do business and makes them more competitive."
        - Melissa Nava, Chief Executive Officer and Founder</p>
    <%= image_tag 'image-1.png'%>

    <p class="paragraph">More and more, women-led startups are starting to gain traction. A noticeable number of these startups have been accelerating in the last few years. In celebration of women empowerment month, <span>Kezar Innovations</span> partnered with multiple startups and organizations with women cofounders to motivate females to pursue their passions and ideas. These remarkable Filipina-led startups showcase creating <span>#HerStory</span>.
    </p>

    <%= image_tag 'image-2.png'%>

    <p class="description">Kezar Innovations, KHUSa, 1Export, IYU, and Emerald District are one of the few women-led startups that have been gaining recognition for their advocacies and their work. With female role models such as these women, it is ivident that female leadership has been cultivated in the startup community.</p>

    <p class="paragraph">Much can be said about women in startups, the female perspective allows these women to tackle problems and discussions differently. It is clear that that the group of females exemplifies just that; from Autism, Export, Humanitarianism, Education, and to all-around innovation. These women are pursuing one issue and one problem at a time with their own innovative solution.</p>
    
    <p class="paragraph">Kezar Innovations' Kat Chua and Jo Anne Paril launched "<span>Creating #HerStory</span>" in order to support these beautiful Filipina leaders and their organizations and to inspire other women to create their own stories for their own advocacies and ventures. <span>Creating #HerStory</span> Shirts are now available on <a href="www.shopee.com/KezarPH">www.shopee.com/KezarPH</a> for only Php 499 each. Support these female-led startups!</p>

    
</div>

<footer>
    <p class="paragraph">ABOUT THE COMPANY</p>
    <p class="paragraph-1">Kezar Innovations Pte. Ltd. is a Filipino startup development firm that transforms innovative ideas
     into proftiable businesses through its strong network of innovators, designers, engineers, businessmen, 
     and investors. Kezar Innovations was founded by graduates of Asian Institute of Management's Master 
     of Science in Innovation and Business program and was incorporated in Singapore on March 26, 2018.</p>
    <p class="paragraph">MEDIA CONTACT</p>
    <p class="paragraph-1">Kezar Innovations Pte. Ltd Katherine Chua Chief Executive Officer</p>
</footer>